global
    log stdout format raw local0 info
    maxconn 40000

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend http_front
    bind *:9999
    maxconn 40000
    default_backend api_servers

backend api_servers
    balance roundrobin
    server api1 /run/sock/api1.sock check maxconn 20000
    server api2 /run/sock/api2.sock check maxconn 20000
